---
// Código del servidor (Astro)
import { SCORE_API } from "astro:env/server";
import { habilidades } from "../data/habilidades.js";

const res = await fetch(SCORE_API);
const rawScore = await res.text();
const scoreValue = rawScore.trim();
const scorePercentage = `${scoreValue}%`;
---

<section>
    <div class="contenedor">
        {
            habilidades.map((dato) => (
                <div class="habilidad">
                    <div class="tittle">
                        <h1>{dato.habilidad}</h1>
                        <div class="herramienta">
                            <img src={dato.img} />
                        </div>
                    </div>
                    <div class="div-100">
                        <div
                            class="divscore-animated"
                            style={`
                                background-color:#152612;
                                height: 30px;
                                --target-width: ${scoreValue}%; /* Definimos la variable CSS aquí */
                            `}
                        />
                    </div>
                    <span class="score-value">{scoreValue}/100</span>
                </div>
            ))
        }
    </div>
</section>

<style>
    .tittle {
        display: flex;
        padding: 2%;
        align-items: center;
    }
    .herramienta {
        background-color: aliceblue;
        border-radius: 5px;
        margin-left: 1rem;
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .herramienta img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    section {
        background-color: #444444;
        margin: 10px;
        padding: 15px;
        border-radius: 5px;
        margin-left: 30px;
        margin-right: 70px;
        flex-wrap: wrap;
        align-items: center;
    }

    .score-value {
        color: white;
    }

    .divscore-animated {
        border-radius: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 0%;
        height: 30px;
        animation: fill-bar 1.5s ease-out forwards;
    }

    @keyframes fill-bar {
        from {
            width: 0%; /* Inicia en 0% */
        }
        to {
            width: var(--target-width);
        }
    }

    .div-100 {
        width: 100%;
        background-color: #5d735a;
        border-radius: 15px;
        overflow: hidden;
    }
    .habilidad {
        width: 25%;
        background-color: gray;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        padding: 15px;
        border-radius: 15px;
    }
    .contenedor {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }
</style>
