---
import { ClientRouter } from "astro:transitions";
import { infoproyecto } from "../data/infoproyecto.js";
---

<section>
  <h2 class="font-bold">MIS PROYECTOS</h2>
  <div class="contenedor">
    {
      infoproyecto.map((proyecto) => (
        <article class="">
          <a href={proyecto.page}>
            <div class="proyectos elemento-con-sombra p-2 pl-5">
              <div class="title-img">
                <strong class="info">{proyecto.nombre}</strong>
                <img src={proyecto.img} />
                <br />
              </div>
              <p class="descripcion">{proyecto.objetivo}</p>
              <div class="herramientas">
                {proyecto.herramientas.map((herramienta) => (
                  <div class="herramienta ">
                    <strong class="info">{herramienta.nombre}</strong>
                    <p class="descripcion">{herramienta.herramienta}</p>
                  </div>
                ))}
              </div>
            </div>
          </a>
        </article>
      ))
    }
  </div>
</section>

<style>
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1%;
  }
  .title-img {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    color: #f8f8f2;
  }

  section {
    margin: 2%;
    border-radius: 15px;
    background-color: #52916a;
  }
  img {
    width: 40%;
    border-radius: 15px;
    margin: 5%;
  }

  p {
    color: #f8f8f2;
  }
  a {
    text-decoration: none;
    color: #f8f8f2;
  }

  h2 {
    font-family: "Courier New";
    color: black;
    font-size: xx-large;
    padding: 15px;
    padding-top: 30px;
    align-items: center;
  }

  article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1%;
    width: 300px;
  }
  div {
    border-radius: 10px;
    width: 100%;
    color: black;
    align-items: center;
  }

  strong {
    margin-bottom: 10px;
    font-size: larger;
    align-items: start;
  }

  .proyectos {
    background-color: #0e3c1f97;
    margin: 0; /* El espaciado entre tarjetas lo controla el margen del article */
    color: aliceblue;
  }

  .herramientas {
    margin: 0%;
    padding: 1%;
  }

  .herramienta {
    display: flex;
  }

  .elemento-con-sombra {
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    width: 100%; /* Asegura que ocupe el ancho del div padre */
  }

  .elemento-con-sombra:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
</style>
