---
import { infoproyecto } from "../data/infoproyecto.js";
---

<section>
  <h2>MIS PROYECTOS</h2>
  <div class="contenedor">
    {
      infoproyecto.map((proyecto) => (
        <article>
          <a href={proyecto.page}>
            <div class="proyectos elemento-con-sombra">
              <div class="title-img">
                <strong class="info">{proyecto.nombre}</strong>
                <img src={proyecto.img} />
                <br />
              </div>
              <p class="descripcion">{proyecto.objetivo}</p>
              <div class="herramientas">
                {proyecto.herramientas.map((herramienta) => (
                  <div class="herramienta">
                    <strong class="info">{herramienta.nombre}</strong>
                    <a href="#" class="descripcion">
                      {herramienta.herramienta}
                    </a>
                  </div>
                ))}
              </div>
            </div>
          </a>
        </article>
      ))
    }
  </div>
</section>

<style>
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 1%;
    padding-top: 40px;
  }
  .title-img {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    color: #f8f8f2;
  }

  section {
    margin: 2%;
    border-radius: 15px;
    background-color: #2e2e2e;
  }
  img {
    width: 40%;
    border-radius: 15px;
    margin: 5%;
  }

  a {
    text-decoration: none;
    color: #f8f8f2;
  }

  h2 {
    color: aliceblue;
    font-size: xx-large;
    padding: 15px;
    padding-top: 30px;
    margin-bottom: 0%;
    align-items: center;
  }

  article {
    display: flex; /* Lo mantenemos flex para el futuro si quieres alinear elementos dentro */
    justify-content: center; /* Centra cada tarjeta individualmente en su espacio */
    flex-wrap: wrap;
    margin: 2%; /* Un margen para crear espacio entre las tarjetas */
    padding-top: 40px;
    width: 300px; /* Sugiero un ancho fijo para las tarjetas para un diseño más predecible */
  }

  div {
    border-radius: 10px;
    width: 100%; /* El div interno ocupa el ancho del article */
    color: black;
    align-items: center;
    padding: 10px;
  }

  strong {
    padding: 10px;
    margin-bottom: 10px;
    font-size: larger;
    align-items: start;
  }

  .proyectos {
    background-color: #5b5b5b;
    margin: 0; /* El espaciado entre tarjetas lo controla el margen del article */
    color: aliceblue;
    padding: 3%;
  }

  .herramientas {
    margin: 0%;
    padding: 1%;
  }

  .herramienta {
    margin: 0%;
    padding: 5px;
  }

  .elemento-con-sombra {
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition:
      box-shadow 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    width: 100%; /* Asegura que ocupe el ancho del div padre */
  }

  .elemento-con-sombra:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
</style>
